body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a315b;
  }
  
  .container {
    text-align: center;
  }
  
  .digit-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .digit-display {
    font-size: 48px;
    font-weight: bold;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
  }
  
  #rollButton {
    font-size: 16px;
    width: 243px;
    padding: 10px 20px;
    background-color: #1a315b;
    color: white;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #rollButton:hover {
    background-color: black;
    color: white;
  }


 